[Unit]
Description=Run package update check each morning

[Timer]
OnCalendar=*-*-* 08:00:00
Persistent=true
RandomizedDelaySec=10m
Unit=home-automation-package-update-notifier.service

[Install]
WantedBy=timers.target

